.page {
    // page acts as a container for our grid.
    @include container;

    // header and footer are full-width by default.
    header, footer, .primary-nav { clear: both; }

    .landing-page {
        // content spans the final (omega) 9 columns of 12.
        @include span-columns(12 ,12);

        // main content spans 6 of those 9 columns.
        //.main { @include span-columns(9 omega, 12); }
    }

    .detail-page {
        // content spans the final (omega) 9 columns of 12.
        @include span-columns(12 ,12);

        // secondary content spans the final 3 (omega) of 9 columns.
        .secondary-nav { @include span-columns(3,12); }

        // main content spans 6 of those 9 columns.
        .main { @include span-columns(9 omega, 12); }
    }
}

