$legacy-support-for-ie  : true;
$legacy-support-for-ie7 : $legacy-support-for-ie;

@include border-box-sizing;

$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

$page-background    : #f6f6f8;
