.nav {
    list-style: none;
    margin: 0;
    padding: 0;

    > li,
    > li > a {
        display:inline-block;
       *display:inline;
        zoom:1;
    }
}

.primary-nav{
    a { padding:5px 10px; }
}

.breadcrumb {
    margin: 0 0 rhythm(4, 16px) 0;

    li:before{ content:"› "; }
    li:first-child:before { content:normal; }
    a { text-decoration: none; }
}