.product-block {
    @include clearfix;
    padding: 42px 85px;
    background-color: #f6f6f8;

    li {
        @include span-columns(3, 9);
        &:nth-child(3n+3) { @include span-columns(3 omega, 9); }
        height: 339px;
        padding: 28px;
        margin-bottom: 30px;
        border: 1px solid #e0e1e3;
        background-color: #fff;

        img { width: 100%; }
    }

}